@import url(../color.css);
.LogoutBtn{
    background-color: var(--ButtonBackground);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    position:absolute;
    left: 0%;
    bottom: 0%;
}
.LogoutBtn:hover{
    filter: brightness(120%);
}